#ignore img
/aboutus/img/
/aboutus/member/mem_img/
/aircrafts/kitai_intro/cansat/cansat_img/
/aircrafts/kitai_intro/hikoki/hikoki_img/
/aircrafts/kitai_intro/rocket/rocket_img/
/common/img/
/contact/img/
/home/img/
/rog/img/
site_update.txt